body{
    background-image: url("../images/background.jpg");
}

#container{
    background-color: yellow;
    height: 700px;
    width: 1000px;
    margin-left: 350px;
    margin-top: 10px;
}


#mainheading{
    font-size: 80px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
    text-align: center;
    padding-top: 30px;
}
#start{
    height: 50px;
    width: 200px;
    background-color: blue;
    color: white;
    margin-left: 30px;
    margin-top: 80px;
 
}
p{
    font-size: 20px;
    padding-left: 50px;
    padding-top: 20px;
}
.optradio{
    margin-left: 50px;
    margin-top: 10px;
}
#next{
    margin-left: 70%;
    margin-top: 5px;
}